<div class="messages-<%= owner ? 'mine-right' : 'other-left' %>">
  <p class="messages-owner" ><%= message.user.first_name %></p>
  <p class="messages-the-message"><%= h(message.content).gsub(/\n/, '<br/>').html_safe %></p>
  <!-- <p class="messages-timestamp" ><%= message.created_at.strftime("%I:%M%p").in_time_zone("CET") %></p> -->
  <p class="messages-timestamp">(<%= message.created_at.getlocal.strftime("%I:%M%p")%> <%= message.created_at.getlocal.zone %>)</p>
  <br>
</div>
