<div class="spacemaker" style="margin-top:100px"></div>

<div class="form-container">
  <h2>Change Password</h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :email, required: true, autofocus: true %>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
      <% end %>

      <%= f.input :password, autocomplete: "off", placeholder: "New Password", required: false %>
      <%= f.input :password_confirmation, required: false, placeholder: "Confirm New Password" %>
      <%= f.input :current_password, placeholder: "Current Password", required: true %>
    </div>

    <div style="margin: 60px 0px"></div>

    <div class="center">
      <div class="form-actions">
        <%= f.button :submit, "Update", class: "jd-solid-button-med" %>
      </div>
    </div>
  <% end %>

  <div style="margin: 30px 0px"></div>


  <!-- <div class="center">
    <p><%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
  </div> -->

  <%= link_to "Back", :back, class: "form-button2" %>
</div>
