
<div class="container">

<div class="messages-chatlist row">
  <div class="messages-header-logo">

    <div class="col-xs-2"></div>

    <div class="messages-show-current col-xs-8">
      <p><strong>
        <%= @display_other.first_name %> <%= @display_other.last_name[0] %>.
      </strong></p>
    </div>

    <div class="dropdown col-xs-2">
      <i class="fas fa-angle-down dropdown-toggle" data-toggle="dropdown"></i>
        <ul class="dropdown-menu dropdown-menu-right jd-header-dropdown-menu">
          <% @convos.each do |c |%>
            <% subscript = c.subscriptions.find { |sub| (sub.user_id != current_user.id) }%>
              <li><%= link_to subscript.user.first_name, conversation_path(c) %></li>
          <% end %>
        </ul>
    </div>

  </div>
</div>

<div class="messages-past-field">
<% @conversation.messages.each_with_index do |mess, index| %>
  <% if mess.user == current_user%>
    <div class="messages-mine-right">
      <% if @conversation.messages[index-1].user != current_user || index == 0 %>
        <p class="messages-owner">Me:</p>
      <% end %>
      <p><%= h(mess.content).gsub(/\n/, '<br/>').html_safe %></p>
    </div>
  <% else%>
    <div class="messages-other-left">
      <% if @conversation.messages[index-1].user != mess.user || index == 0 %>
        <p class="messages-owner"><%= mess.user.first_name %> <%= mess.user.last_name[0]%>:</p>
      <% end %>
      <p><%= h(mess.content).gsub(/\n/, '<br/>').html_safe %></p>
    </div>
  <% end%>

<%end %>

</div> <!-- end past-messages field -->

<div class="messages-form">
<%= form_for [@conversation, @message] do |f| %>
  <p class="messages-text-area"><%= f.text_area :content %></p>
  <p><%= f.submit :Send, class: "show-hover show-send-button" %></p>
<%end%>
</div>


</div> <!-- end container -->




