<h1>Conversations#show</h1>
<p>Find me in app/views/conversations/show.html.erb</p>


<% @conversation.messages.each do |mess| %>
<p><%= mess.user.username %>: <%= mess.content%><p>
<%end %>

<%= form_for [@conversation, @message] do |f| %>
  <p><%= f.text_area :content %></p>
  <p><%= f.submit :send %></p>
<%end%>


<% @convos.each do |c |%>
  <% subscript = c.subscriptions.find { |sub| (sub.user_id != current_user.id) }%>
    

 <p><%= link_to subscript.user.first_name, conversation_path(c) %></p>
<% end%>




