<div class="form-container">
  <div class="booking-form">

    <div class="review-detials">
      <h4>Pick when you want to chat:</h4>
    </div>

    <%= simple_form_for [@lesson, @booking] do |f| %>
      <% if @booking.errors.any? %>
        <div class="errors-container">
          <ul>
            <% @booking.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="booking-form--details">
        <p>Date:</p>
        <%= f.input :start_date, as: :string, input_html: { class: "datepicker"}  %>

        <%= f.input :start_time, as: :string, input_html: { class: "datepicker2"}  %>

        <%= f.input :end_time, as: :string, input_html: { class: "datepicker3"}  %>

        <div class="little-space-maker" style="margin: 60px 0px"></div>

        <p>You'll be scheduled to 1 hour.</p>
        <div class="little-space-maker" style="margin: 60px 0px"></div>

        <%= f.button :submit, class: 'jd-solid-button-med' %>

        <div class="little-space-maker" style="margin: 60px 0px"></div>
      </div>

    <% end %>
  </div>
</div>

