<div class="edit-form">
  <%= simple_form_for @user do |f| %>
    <%= f.file_field :photo, :label=> "Upload your profile picture" %>
    <%= f.input :photo_cache, as: :hidden %>
    <%= f.input :first_name, required: false, input_html: { class: "first-name" }, placeholder: "First Name" %>
    <%= f.input :last_name, required: false, placeholder: "Last Name" %>

    <select name="user[country]">
      <option value="Country">Country</option>
      <% User::COUNTRIES.each do |x| %>
        <option value="<%= x %>"><%= x %></option>
      <% end %>
    </select>

    <%= f.association :interests, as: :check_boxes %>
    <%= f.input :description, placeholder: "Say a bit about yourself..." %>

    <div class="magic-line-homepage"></div>
    <div class="space" style="margin-top:40px"></div>

    <div class="center">
      <%= f.button :submit, class: "update-user", id: "update-user" %>
    </div>
  <% end %>

  <div class="space" style="margin-top:40px"></div>

  <div class="center">
    <%= link_to edit_user_registration_path do %>
        <button type="button" class="update-user">Change Password</button>
    <% end %>
  </div>
</div>


