<div class="jd-header-fluido">
  <a href="/" class="jd-header-logo">Fluido</a>
  <div class="jd-header-right">

    <div class="jd-header-item">
      <%= link_to lessons_path do %>
        <i class="fas fa-search"></i>
      <% end %>



    </div>
    <div class="jd-header-item">
      <div class="dropdown">
        <i class="fas fa-bars dropdown-toggle" data-toggle="dropdown"></i>
        <ul class="dropdown-menu dropdown-menu-right jd-header-dropdown-menu">

          <% if user_signed_in? %>
            <p>Hi <%= current_user.first_name %>!</p>

            <% if current_page?(action: 'dashboard') %>
              <li><%= link_to 'Create a Lesson', new_lesson_path %></li>
            <% else %>
              <li><%= link_to 'Dashboard', dashboard_path %></li>
            <% end %>


            <li><%= link_to 'Messages', conversations_path %></li>
            <li><%= link_to 'Edit Profile', edit_user_path(current_user) %></li>
            <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li> <%= link_to 'Login/Sign Up', new_user_session_path %> </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
