<div class="spacemaker" style="margin-top:100px"></div>

<div class="container">
  <div class="home-page">



    <!-- Slogan -->



    <div class="row">
      <div class="col-xs-12">
        <div class="slogan-1">
          <h1>Real People</h1>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-xs-12">
        <div class="slogan-2">
          <h1>Real Learning</h1>
        </div>
      </div>
    </div>
  </div>



  <!-- Value Proposition -->



    <div class="row">
      <div class="col-xs-10 col-xs-offset-1">
        <div class="value-prop">
          <p>Learn a language through actual conversations with native speakers.</p>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-xs-12">
        <div class="homepage-button">
          <%= link_to lessons_path do %>
           <button type="button" class="jd-solid-button-med">Find a teacher</button>
          <% end %>
        </div>
      </div>
    </div>



    <!-- How does it work? -->



    <div class="row">
      <div class="col-xs-12">
        <div class="question">
          <h2>How Does It Work?</h2>
        </div>
      </div>
    </div>

    <div class="magic-line-homepage"></div>

    <div class="row">
      <div class="col-xs-12 col-md-4 col-md-offset-4">
        <div class="step">
          <div class="img-steps">
            <%= image_tag "step-one" %>
          </div>

          <div class="step-text">
            <p>Pick your target language.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-md-4 col-md-offset-4">
        <div class="step">
          <div class="img-steps">
            <%= image_tag "step-two" %>
          </div>

          <div class="step-text">
            <p>Find your ideal teacher and schedule a lesson.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-md-4 col-md-offset-4">
        <div class="step">
          <div class="img-steps">
            <%= image_tag "step-three" %>
          </div>

          <div class="step-text">
            <p>Start speaking.</p>
          </div>
        </div>
      </div>
    </div>



   <!--  Or become a teacher -->



    <div class="row">
      <div class="col-xs-12">
        <div class="or">
          <h3>Or learn more about teaching and...</h3>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <div class="homepage-button">
          <%= link_to teachers_about_path do %>
           <button type="button" class="jd-solid-button-med">Become a teacher</button>
          <% end %>
        </div>
      </div>
    </div>

    <div class="little-space-maker" style="margin: 60px 0px"></div>

    <!-- Why use fluido? -->

    <div class="row">
      <div class="col-xs-12">
        <div class="question">
          <span id="why-use">Why use</span>
          <span id="accent-fluido">Fluido?</span>
        </div>
      </div>
    </div>

    <div class="magic-line-homepage"></div>
    <div class="little-space-maker" style="margin: 60px 0px"></div>

    <div class="row">
      <div class="col-xs-10 col-xs-offset-1">
        <div class="step-text">
          <p>Are you tired of learning how to say “The apple is green” or “Brian is in the kitchen?” Yeah, us too.</p>
        </div>
      </div>
    </div>

    <div class="little-space-maker" style="margin: 60px 0px"></div>

    <div class="row">
      <div class="col-xs-10 col-xs-offset-1">
        <div class="step-text">
          <p>Books are nice, classes are  cool and all, but isn’t the point of learning a language to actually speak the language?</p>
        </div>
      </div>
    </div>

    <div class="little-space-maker" style="margin: 60px 0px"></div>

    <div class="row">
      <div class="col-xs-10 col-xs-offset-1">
        <div class="step-text">
          <span id="accent-fluido">Fluido</span>
          <span>connects you to real people and lets you have real conversations. Don't waste another moment.</span>
        </div>
      </div>
    </div>

    <div class="little-space-maker" style="margin: 60px 0px"></div>

    <div class="row">
      <div class="col-xs-12">
        <div class="homepage-button">
          <%= link_to lessons_path do %>
           <button type="button" class="jd-solid-button-med">Find a teacher</button>
          <% end %>
        </div>
      </div>
    </div>

    <div class="little-space-maker" style="margin: 60px 0px"></div>

</div>







