<div class="home-page">

  <!-- Specific header for homepage -->

  <div class="hompage_navbar">
    <div class="dropdown">
      <i class="fas fa-bars dropdown-toggle homepage-header-item" data-toggle="dropdown"></i>

      <ul class="dropdown-menu dropdown-menu-right jd-header-dropdown-menu">
        <% if user_signed_in? %>
          <p>Hi <%= current_user.first_name %>!</p>
          <li><%= link_to 'Dashboard', dashboard_path(current_user) %></li>
          <li><%= link_to 'Messages', conversations_path %></li>
          <li><%= link_to 'Edit Profile', edit_user_path(current_user) %></li>
          <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li> <%= link_to 'Login/Sign Up', new_user_session_path %> </li>
        <% end %>
      </ul>
    </div>
  </div>



  <!-- Value Proposition -->

    <div class="wrapper">


      <div class="backdrop-gradient">
        <div class="title-fluido">
          <h1>Fluido</h1>
        </div>


        <div class="value-prop">
          <p>Learn a language through actual conversations with native speakers.</p>
        </div>


        <div class="homepage-button">
          <%= link_to lessons_path do %>
           <button type="button" class="jd-solid-button-med">Find a teacher</button>
          <% end %>
        </div>
      </div>
    </div>

  <div class="container">

    <!-- How does it work? -->

    <div class="steps">
      <div class="question">
        <h2>How Does It Work?</h2>
      </div>


      <div class="magic-line-homepage"></div>

      <div class="step-text">
        <p>Pick your target language.</p>
      </div>


      <div class="step-text">
        <p>Find your ideal teacher and schedule a lesson.</p>
      </div>


      <div class="step-text">
        <p>Start speaking.</p>
      </div>
    </div>
  </div>



  <div class="or">
    <h3>Or learn more about teaching and...</h3>
  </div>



  <div class="container">

    <!--  Or become a teacher -->


    <div class="little-space-maker" style="margin: 60px 0px"></div>
    <div class="homepage-button">
      <%= link_to teachers_path do %>
       <button type="button" class="jd-solid-button-med">Become a teacher</button>
      <% end %>
    </div>



    <div style="height: 80px"></div>

    <!-- Why use fluido? -->

    <div class="row">
      <div class="col-xs-12">
        <div class="question">
          <span>Why use</span>
          <span id="accent-fluido">Fluido?</span>
        </div>
      </div>
    </div>

    <div class="magic-line-homepage"></div>
    <div class="little-space-maker" style="margin: 60px 0px"></div>

    <div class="row">
      <div class="col-xs-10 col-xs-offset-1">
        <div class="step-text">
          <p>Are you tired of learning how to say “The apple is green” or “Brian is in the kitchen?” Yeah, us too.</p>
        </div>
      </div>
    </div>

    <div class="little-space-maker" style="margin: 60px 0px"></div>

    <div class="row">
      <div class="col-xs-10 col-xs-offset-1">
        <div class="step-text">
          <p>Books are nice, classes are  cool and all, but isn’t the point of learning a language to actually speak the language?</p>
        </div>
      </div>
    </div>

    <div class="little-space-maker" style="margin: 60px 0px"></div>

    <div class="step-text">
      <span id="accent-fluido">Fluido</span>
      <span>connects you to real people and lets you have real conversations. Don't waste another moment.</span>
    </div>


    <div class="little-space-maker" style="margin: 60px 0px"></div>

  </div>

  <div class="wrapper">
    <div class="backdrop-gradient-reversed">

      <div class="homepage-button">
        <%= link_to teachers_path do %>
         <button type="button" class="jd-solid-button-med">Find a teacher</button>
        <% end %>
      </div>

      <div class="little-space-maker" style="margin: 60px 0px"></div>
    </div>
  </div>

</div>
