<div class="form-container">
  <h1 id="edit-header">Create a New Lesson</h1>
  <div class="magic-line-homepage"></div>


  <div class="edit-form">
  <%= simple_form_for @lesson do |f| %>

    <h4 style="margin-bottom: -15px">Select a language to teach:</h4>
    <%= f.association :language, required: false %>

    <h4>Choose your price/hour:</h4>
    <%= f.number_field :price %>

    <h4>Please give a few words about your lesson and your teaching style.</h4>
    <%= f.text_area :description %>

    <div class="space" style="margin-top:40px"></div>
    <div class="magic-line-homepage"></div>

    <div class="center">
      <%= f.button :submit, class: "update-user" %>
    </div>

    <div class="space" style="margin-top:40px"></div>

  <% end %>
  </div>
</div>
