
<div class="edit-form">
  <%= simple_form_for @lesson do |f| %>
    <%= f.association :language, required: false %>

    <h4>Your price</h4>
    <%= f.number_field :price %>

    <h4>Give a few words about what or how you like to teach.</h4>
    <%= f.text_area :description %>

    <div class="space" style="margin-top:40px"></div>
    <div class="magic-line-homepage"></div>

    <div class="center">
      <%= f.button :submit, class: "update-user" %>
    </div>

    <div class="space" style="margin-top:40px"></div>

  <% end %>
</div>
