<div class="spacemaker" style="margin-top:100px"></div>


<div class="container">

  <%= render 'lessons/search' %>

  <div class="row">
    <div class="col-xs-12">

      <% @lessons.each do |l| %>
        <%= link_to lesson_path(l) do %>
          <div class="entire-card">
            <%= l.user.first_name %>
            <%= l.user.interests.first.name %>
            <%= l.price %>
            <%= l.description %>
            <%= l.user.average_rating %>
          </div>
        <% end %>
      <% end %>

    </div>
  </div>

</div>


