<% @user = @lesson.user %>

<div class="container">


  <div class="jd-card-square-fluido">
    <div class="show-avatar">
      <div class="show-avatar-circle">
        <img class='avatar_user' src="<%= @user.photo %>" alt="">
      </div>
    </div>

    <div class="flags-on-card">
      <div class="country-flag-circle">
        <%= image_tag @lesson.language.flag, class: "country-image"  %>
      </div>
    </div>


    <div class="show-name-box">
      <p><%= @lesson.user.first_name %> <%= @lesson.user.last_name[0]%>.</p>
    </div>


    <div class="show-content">

      <div class="show-country">
        <% if @lesson.user.country != "Country" %>
          <p>from <%= @lesson.user.country %></p>
        <% end %>
      </div>

        <div class="show-average-rating">
          <% @rating = @lesson.user.average_rating %>

          <% if @rating.nil? == false  %>
            <% @rounded = @rating.round %>

            <% @rounded.times do %>
              <i class="fas fa-star yellow-star"></i>
            <%end%>

            <% (5 - @rounded).times do %>
              <i class="fas fa-star grey-star"></i>
            <%end%>
          <% end %>
        </div>

      <div class="show-price">
        <p>$<%= @lesson.price %>/hour</p>
      </div>

      <div class="show-magic-line"></div>

      <div class="show-description">
        <p>Interests</p>
        <ul>
          <% @user.interests.each do |int| %>
            <li class="description-body"><%= int.name %></li>
          <% end %>
        </ul>
        <br>
      </div>



      <div class="show-magic-line"></div>

      <div class="show-description">
        <p>Description</p>
        <p class="description-body">"<%= @lesson.description %>"</p>
        <br>
      </div>

      <div class="show-magic-line"></div>


      <% if @lesson.user.bookings.count > 0 %>
        <div class="show-availability">
          <p><%= @lesson.user.first_name %> is currently booked for these times:</p>
          <br>
          <% @all = @lesson.user.bookings %>
          <% @sorted = @all.order(start_date: :asc).order(start_time: :asc) %>

          <% @sorted.each do |x| %>
            <p class="description-body"><%= x.start_date.strftime('%a %d %b %Y') %> @ <%= x.start_time.getlocal.strftime("%I:%M%p") %> <%= x.start_time.getlocal.zone %></p>
          <% end %>
        </div>
      <% end %>

      <br>
    </div>
  </div>

  <div class="show-buttons-centered">
    <% if user_signed_in? == false || @lesson.user.id != current_user.id %>
      <%= form_for(@conversation) do |f|%>
        <%= hidden_field_tag "user_id", @lesson.user.id %>
        <div class="center">
          <%= f.submit "Send a Message", class: "jd-border-button-med"  %>
        </div>
      <%end%>
    <% end %>
  </div>


  <% if user_signed_in? == false || @lesson.user.id != current_user.id %>
    <div class="show-buttons-centered">
      <%= link_to new_lesson_booking_path(@lesson) do %>
        <button type="button" class="jd-solid-button-med">Schedule a Lesson</button>
      <% end %>
    </div>
  <% else %>
    <div class="show-hover show-buttons-centered">
      <%= link_to edit_lesson_path do %>
        <button type="button" class="show-edit-button">Edit Lesson</button>
      <% end %>
    </div>

    <div class="show-hover show-buttons-centered">
      <%= link_to lesson_path(@lesson), method: :delete do %>
        <button type="button" class="show-delete-button">Delete Lesson</button>
      <% end %>
    </div>
  <%end%>

  <div class="little-space-maker" style="margin: 60px 0px"></div>
<!-- end of page container div-->
</div>


