<h1>Lessons#show</h1>
<p>Find me in app/views/lessons/show.html.erb</p>

<%= @lesson.language.name %>
<%= @lesson.price %>
<%= @lesson.description %>


<%= link_to edit_lesson_path do %>
   <button type="button" class=" btn btn-primary">Edit</button>
 <% end %>


<%= link_to lesson_path(@lesson), method: :delete do %>
  <button type="button" class=" btn btn-danger">Delete</button>
<% end %>


<%= link_to conversation_path(@lesson.user_id) do %>
  <button type="button" class=" btn btn-warning">Send a message</button>
<% end %>

<%= link_to new_lesson_booking_path(@lesson) do %>
  <button type="button" class=" btn btn-warning">Book it now!</button>
<% end %>


