<% @user = @lesson.user %>

<div class="container">


   <div class="jd-card-square-fluido">
      <div class="show-avatar">
        <div class="show-avatar-circle">
          <%= cl_image_tag @user.photo %>
        </div>
      </div>

      <div class="flags-on-card">
        <div class="country-flag-circle">
          <%= image_tag @lesson.language.flag, class: "country-image"  %>
        </div>
      </div>


      <div class="show-name-box">
        <p><%= @lesson.user.first_name %> <%= @lesson.user.last_name[0]%>.</p>
      </div>


<div class="show-content">

      <div class="show-country">
        <p>from <%= @lesson.user.country %></p>
      </div>

      <div class="show-average-rating">
        <% @rating = @lesson.user.average_rating %>

        <% @rounded = @rating.round %>
        <% @rounded.times do %>
          <i class="fas fa-star yellow-star"></i>
        <%end%>

        <% (5 - @rounded).times do %>
          <i class="fas fa-star grey-star"></i>
        <%end%>
      </div>

      <div class="show-price">
        <p>$<%= @lesson.price %>/hour</p>
      </div>

      <div class="show-magic-line"> 
      </div>

      <div class="show-description">
        <p>Interests</p>
        <ul>
          <% @user.interests.each do |int| %>
            <li class="description-body"><%= int.name %></li>
          <% end %>
        </ul>
      </div>

      

      <div class="show-magic-line">
      </div>

      <div class="show-description">
        <p>Description</p>
        <p class="description-body">"<%= @lesson.description %>"</p>
      </div>

    </div>


    </div>

    

  <div class="show-buttons-centered">
    <% if @lesson.user.id != current_user.id %>
      <%= form_for(@conversation) do |f|%>
        <%= hidden_field_tag "user_id", @lesson.user.id %>
        <%= f.submit "Send a Message", class: "show-message-button"  %>
      <%end%>
    <% end %>
  </div>

<!-- Availability and calendar will go here-->

<% if @lesson.user.id != current_user.id %>    
  <div class="show-buttons-centered">
    <%= link_to new_lesson_booking_path(@lesson) do %>
      <button type="button" class="show-booking-button">Schedule a Lesson</button>
    <% end %>
  </div>
<% else %>
  <div class="show-buttons-centered">
    <%= link_to edit_lesson_path do %>
      <button type="button" class="show-edit-button">Edit Lesson</button>
    <% end %>
  </div>

  <div class="show-buttons-centered">
    <%= link_to lesson_path(@lesson), method: :delete do %>
      <button type="button" class="show-delete-button">Delete Lesson</button>
    <% end %>
  </div>
<%end%>



<!-- end of page container div-->
</div>


